PORT=3333
NODE_ENV=development

DATABASE_URL=postgresql://docker:docker@localhost:5432/brev

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_ACCESS_SECRET_KEY=
CLOUDFLARE_BUCKET=
CLOUDFLARE_PUBLIC_URL=
